.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputFormContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
}
.inputFormContainer input {
  margin-bottom: 10px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  background-color: #ccc;
}

.inputFormContainer .send-button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.inputFormContainer .send-button:hover {
  opacity: 0.8;
}

.graphView {
  border-style: solid;
  border-width: 1;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-container .reorderButton {
  width: 200px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}

.graph-container .reorderButton:hover {
  opacity: 0.8;
}

.graphInputContainer {
  margin-top: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphInputs {
  display: flex;
  flex-direction: column;
}
.graphInputs select {
  margin: 10px;
}
